<!-- views/partials/footer.ejs -->
<footer
  class="bg-light py-3 border-top"
  style="position: fixed; bottom: 0; width: 100%"
>
  <div class="container">
    <div class="text-start">
      <p class="mb-1">Student Name: HSIAO-KANG CHANG</p>
      <p class="mb-1">Student Number: 120049234</p>
      <p class="mb-0">
        <a href="mailto:hchang67@myseneca.ca">hchang67@myseneca.ca</a>
      </p>
    </div>
  </div>
</footer>
