<footer class="fixed-bottom bg-light py-3 border-top">
  <div class="container">
    <div class="text-start">
      <p class="mb-1">Student Name: HSIAO-KANG CHANG</p>
      <p class="mb-1">Student Number: 120049234</p>
      <p class="mb-0">
        <a href="mailto:hchang67@myseneca.ca">hchang67@myseneca.ca</a>
      </p>
    </div>
  </div>
</footer>
